.body{ 
    padding: 25px;
}

.header {
    text-align: center;
    font-family: sans-serif;
    font-size: 80px;
    font-style: bold;
}

.row {
    padding: 25px;
    margin: 25px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.footer {
    text-align: center;
    font-family: sans-serif;
}
