<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style type="text/css">
        * {
        padding: 0px;
        margin: 0px;
        }
        .head-text{
            margin-top: 25px;
            color: red;
            text-align: center;
        }
        .box {
            height: 100px;
            width: 100px;
            display: inline-block;
            margin: 20px;
            background-color: cyan;
            border-radius: 25px;
            justify-content: center;
        }
    </style>
</head>
<body>
<h1 class="head-text">Welcome!</h1>
{% for x in range(0, times): %}
    <div class="box" style="background-color: {{ phrase }}" ></div>
{% endfor %}
</body>
</html>