/* Page */
* {
    margin: 0px;
    padding: 0px;
    background-color: silver;
}

/* Blue Canvas */
.canvas {
    background-color: blue;
    width: 880px;
    height: 640px;
    margin: 0 auto;
    display: flex;
    position: relative;
    top: 50px;
}

/* White Boxes */
.wTop {
    background-color: white;
    height: 280px;
    display: flex;
    align-items: flex-start;
    position: absolute;
    top: 0px;
}
.wBottom {
    background-color: white;
    height: 280px;
    display: flex;
    align-items: flex-end;
    position: absolute;
    bottom: 0px;
}
#wRight {
    width: 520px;
    justify-content: flex-end;
    position: absolute;
    right: 0px;
}
#wLeft {
    width: 280px;
    justify-content: flex-start;
    position: absolute;
    left: 0px;
}

/* Red Boxes */
.rSmall {
    background-color: red;
    width: 240px;
    height: 240px;
}
.rBig {
    background-color: red;
    width: 480px;
    height: 240px;
}